<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- The address of the SQL server. -->
    <add key="sqlHost" value="127.0.0.1"/>

    <!-- The username for connecting to the SQL server. -->
    <add key="sqlLogin" value="JohnSmith"/>

    <!-- The password for connecting to the SQL server. -->
    <add key="sqlPass" value="Password1"/>

    <!-- The name of the SQL database. -->
    <add key="sqlDb" value="store"/>

    <!-- The directory to upload to, on Lokad BigFiles. -->
    <add key="ftpDirectory" value="/"/>
    
    <!-- The username for connecting to Lokad BigFiles. -->
    <add key="ftpLogin" value="firstname.lastname@example.com"/>

    <!-- The password for connecting to Lokad Bigfiles. -->
    <add key="ftpPass" value="Password2"/>

  </appSettings>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
